.App {
  text-align: center;
}

.filter-input {
  width:280px;
}

/* Trash Icon Animation */

tr i{
  opacity: 0;
  transition: opacity 0.5s ease;
}

tr:hover i{
  opacity: 1;
}

/* */

@media(max-width:900px) {
  

  tr i {
    opacity:1; /* Trash Icon no animation */
  }
}

.table {
  width: 80%;
}

.tabletbody td{
  min-width: 0%;
  width: auto;
}

#trash-column {
  width: 1%;
}


